
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb.3">
    <a class="navbar-brand" [routerLink]='["/"]'>
      <img src="./assets/exploraicon.jpg" width="50" height="50" class="d-inline-block align-center" alt="" loading="lazy">
      Parque Explora API
    </a>

    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Listado</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/new">Nueva</a>
            </li>
        </ul>
    </div>

</nav>
<router-outlet>


</router-outlet>



